    <footer class="container">
    <div class="container clearfix">
        <p><span class="alignleft small">© 2019, Nouveau Solutions | AhmedBhai - Designs . All Rights Reserved.</span>
            <span class="alignright small">Connect with us&nbsp;&nbsp;&nbsp;
                
            </span>
        </p>
    </div>
</footer>

    </body>
    <script src="./vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="./vendor/animsition/js/animsition.min.js"></script>
	<script src="./vendor/bootstrap/js/popper.js"></script>
	<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="./vendor/select2/select2.min.js"></script>
	<script src="./vendor/daterangepicker/moment.min.js"></script>
	<script src="./vendor/daterangepicker/daterangepicker.js"></script>
	<script src="./vendor/countdowntime/countdowntime.js"></script>
	<script src="js/main.js"></script>
	

    <!--Google Map-->
    <script src="js/googlemap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!--Calendar-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.   js"></script>
	<script src="js/calendar.js"></script>
</html>