<% include ../partials/header %> 
<div>
<img src="https://www.google.com/search?q=vintage+phone+picture&tbm=isch&source=iu&ictx=1&fir=otq9RTVZJiQN4M%253A%252CGVybrJCwQXhSOM%252C_&vet=1&usg=AI4_-kRz_XcjQnqLSPyQY2_Rj4FYIKTd8g&sa=X&ved=2ahUKEwicpfONjunhAhWOA2MBHbNvBQMQ9QEwAHoECAcQBA#imgrc=otq9RTVZJiQN4M:">
</div>
<% include ../partials/footer %>