body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}
#landing-header h1 {
  color: #fff;
}
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://d2jv9003bew7ag.cloudfront.net/uploads/MIST.-DIRTY-DANCING.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoyVa6uikujHMa6spYCntE8wNLb8LuIQqRsSDbIw4iN4w1b_as2Q);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrgA8BC9zAzIMv2LJSDWAy-9ERwPpZ1Bx4jP_yonwssjXvzlAarw);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyxSrb2-3bCfkr9GjlOftgiGdcRSrFcD9s77xbNwrfQ62MhyN8-Q);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/1-colorful-whimsical-pop-art-style-heart-painting-unique-artwork-by-megan-duncanson-megan-duncanson.jpg);
  animation-delay: 40s; 
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
.no-cssanimations .slideshow li {
	opacity: 1;
}